.one-task {
  background-color: rgb(159, 235, 159);
}

.two-task {
  background-color: rgb(123, 238, 123);
}

.three-task {
  background-color: rgb(57, 201, 57);
}

.four-task {
  background-color: rgb(36, 167, 36);
}

.five-task {
  background-color: rgb(21, 117, 21);
}